<script>
    $(document).ready(function(){
         function updateText(btn, newCount, verb){
         btn.text(newCount + " " + verb)
     }
  
     $(".like-btn").click(function(e){
       e.preventDefault()
       var this_ = $(this)
       var badge = this_.find('.unlike-update')
       var likeUrl = this_.attr("data-href")
       var likeCount = parseInt(this_.attr("data-likes")) | 0
       var addLike = likeCount + 1
       var removeLike = likeCount - 1
       if (likeUrl){
          $.ajax({
           url: likeUrl,
           method: "GET",
           data: {},
           success: function(data){
             console.log(data)
             var newLikes;
             if (data.liked){
                //  updateText(this_, addLike, "Unlike")
                //  updateText(this_, data.likescount, badge)
                 updateText(this_, data.likescount, "Unlike")
             } else {
                //  updateText(this_, removeLike, "Like")
                 updateText(this_, data.likescount, "Like")
                 // remove one like
             }
  
           }, error: function(error){
             console.log(error)
             console.log("error")
           }
         })
       }
      
     })
  })
  
   </script>

  

<script>
  $(document).ready(function(){
       function updateText(btn, newCount, verb){
       btn.text(newCount + " " + verb)
   }

   $(".page-post-like-btn").click(function(e){
     e.preventDefault()
     var this_ = $(this)
     var badge = this_.find('.unlike-update')
     var likeUrl = this_.attr("data-href")
     var likeCount = parseInt(this_.attr("data-likes")) | 0
     var addLike = likeCount + 1
     var removeLike = likeCount - 1
     if (likeUrl){
        $.ajax({
         url: likeUrl,
         method: "GET",
         data: {},
         success: function(data){
           console.log(data)
           var newLikes;
           if (data.liked){
              //  updateText(this_, addLike, "Unlike")
              //  updateText(this_, data.likescount, badge)
               updateText(this_, data.likescount, "Unlike")
           } else {
              //  updateText(this_, removeLike, "Like")
               updateText(this_, data.likescount, "Like")
               // remove one like
           }

         }, error: function(error){
           console.log(error)
           console.log("error")
         }
       })
     }
    
   })
})

 </script>



<!-- Ajax for group post comment like -->

<script>
  $(document).ready(function(){
       function updateText(btn, newCount, verb){
       btn.text(newCount + " " + verb)
   }

   $(".comment-like-btn").click(function(e){
     e.preventDefault()
     var this_ = $(this)
     var badge = this_.find('.unlike-update')
     var likeUrl = this_.attr("data-href")
     var likeCount = parseInt(this_.attr("data-likes")) | 0
     var addLike = likeCount + 1
     var removeLike = likeCount - 1
     if (likeUrl){
        $.ajax({
         url: likeUrl,
         method: "GET",
         data: {},
         success: function(data){
           console.log(data)
           var newLikes;
           if (data.liked){
              //  updateText(this_, addLike, "Unlike")
              //  updateText(this_, data.likescount, badge)
               updateText(this_, data.likescount, "Unlike")
           } else {
              //  updateText(this_, removeLike, "Like")
               updateText(this_, data.likescount, "Like")
               // remove one like
           }

         }, error: function(error){
           console.log(error)
           console.log("error")
         }
       })
     }
    
   })
})

 </script>

 <!-- End of Ajax for group post comment like -->